In [1]:
import pandas as pd

In [2]:
mig_data = pd.read_csv('../daten/mig_conversations.csv')

/home/pauline/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
authors = pd.read_csv('../daten/postgres_public_delab_tweetauthor.csv')

/home/pauline/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6,8,10,11,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
pd.set_option('display.float_format', '{:.0f}'.format)
lindner = authors[authors['screen_name']=='_FriedrichMerz']
lindner
#springer:
#welt: 8720562
#bild: 9204502
#bi de: 3344215161
#ulf poschard: 1949194382
#julian reichelt:19069018

#cdu/csu
#friedrich merz:1059395748289232896

,#,id,twitter_id,name,screen_name,location,followers_count,has_timeline,is_moderator,platform,follower_downloaded,following_downloaded,is_organisation,climate_author_type,is_climate_author
17274,17275,33173,1059395748289232896,Friedrich Merz,_FriedrichMerz,Deutschland,182188,True,False,twitter,False,False,False,none,False

In [5]:
view = mig_data[mig_data['author_id']==1059395748289232896]
view

Empty DataFrame
Columns: [Unnamed: 0, #, id, twitter_id, text, author_id, in_reply_to_status_id, in_reply_to_user_id, created_at, sentiment_value, sentiment, conversation_id, language, simple_request_id, tn_parent_id, topic_id, tw_author_id, banned_at, d_comment, platform, publish, tn_parent_type, reddit_id, tn_original_parent, is_toxic, toxic_value, was_query_candidate, original_url]
Index: []

[0 rows x 28 columns]